<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Store locator with customisations</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCslWe4MsfrqI6J4LagbmuXE5H8gJG0d-4&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js">
    </script>
    <script src="~/Scripts/store-locator.min.js"></script>
    <script src="~/Scripts/infobubble-compiled.js"></script>
    <script src="~/Scripts/medicare-static-ds.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <link href="~/Content/storelocator.css" rel="stylesheet" />
    <style>
        body {
            font-family: sans-serif;
        }

        #map-canvas, #panel {
            height: 500px;
        }

        #panel {
            width: 300px;
            float: left;
            margin-right: 10px;
        }

            #panel .feature-filter label {
                width: 130px;
            }

        p.attribution, p.attribution a {
            color: #666;
        }

        .store .hours {
            color: grey;
        }
    </style>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12846745-20']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>
    <h1>Ha Noi Parking</h1>
    <div id="panel"></div>
    <div id="map-canvas"></div>
    <div style="padding-top: 20px; padding-left: 40px;">
        <span>Giảng viên hướng dẫn: TS. Nguyễn Thị Thanh Tân</span>
        <br />
        <span class="attribution">Designed by: Nguyễn Văn Hiếu - 1481310027; Nguyễn Thị Vân Giang - 1481310019; Hoàng  Phạm Tiệp - 1481310071</span>
    </div>
</body>
</html>
