@{
    ViewBag.Title = "Home Page";
}



<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 100px;
        width: 100px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

<!-- This is the div that will contain the Google Map -->
<div id="map_canvas" style="height: 550px;"></div>

<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts {
    <section class="scripts">

        <script type="text/javascript">

            


    //$(document).ready(function () {
    // loadData();
    //});
            var map, infoWindow;
            function loadData() {
                // This makes the div with id "map_canvas" a google map
                google.maps.visualRefresh = true;
                var currentLocation = new google.maps.LatLng(21.027425, 105.833426);

                // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
                var mapOptions = {
                    zoom: 15,
                    center: currentLocation,
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };
                map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        infoWindow.setPosition(pos);
                        infoWindow.setContent('You are here.');
                        var marker = new google.maps.Marker({
                            'position': new google.maps.LatLng(pos.lat, pos.lng),
                            'map': map,
                            'title': 'You are here'
                        });
                        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')
                        //infoWindow.open(map);
                        google.maps.event.addListener(marker, 'click', function () {
                            infoWindow.open(map, marker);
                        });
                        map.setCenter(pos);
                        map.setZoom(15);
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
                $.ajax({
                    url: "../Home/List",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $.each(result, function (key, item) {
                            //console.log(item);
                            var marker = new google.maps.Marker({
                                'position': new google.maps.LatLng(item.Lat, item.Lng),
                                'map': map,
                                'title': item.Name
                            });
                            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')

                            infoWindow = new google.maps.InfoWindow({
                                content: "<div class='infoDiv'><h6>" + item.Name + "</h6></div>"
                            });

                            // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
                            google.maps.event.addListener(marker, 'click', function () {
                                infoWindow.open(map, marker);
                            });
                        });
                    },
                    error: function (errormessage) {
                        alert("Error: " + errormessage.responseText);
                    }
                });
            }
            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCslWe4MsfrqI6J4LagbmuXE5H8gJG0d-4&callback=loadData">
        </script>

    </section>
}