@{
    ViewBag.Title = "Home Page";
}


<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 100px;
        width: 100px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

<!-- This is the div that will contain the Google Map -->
<div id="map_canvas" style="height: 550px;"></div>
<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts {
    <section class="scripts">

        <script type="text/javascript">

            


    //$(document).ready(function () {
    // loadData();
    //});
            
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCslWe4MsfrqI6J4LagbmuXE5H8gJG0d-4&callback=loadData">
        </script>
        <script src="~/Scripts/loadmap.js"></script>
    </section>
}